@import url('https://fonts.cdnfonts.com/css/tt-commons');

*{
  font-family: 'TT Commons', sans-serif;
}

body{
    background-color: #18191B;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    padding: 5%;
    background-color: #252627;
}

.divMensajes{
    background-color: #fcf6db;
    padding: 2%;
    border-radius: 25px;
    margin-left: 5%;
}

button{
    width: 80px;
}

.backgroundPastel{
    background-color: #fcf6db;
}

img{
    height: 120px;
    width: 200px;
}

.iconoFiltro{
    color: white;
}